
#porukaaa {
    /*background-color: yellow;*/
    height: 100px;
    width: 200px;
    position: absolute;
    top: 250px;
    left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    display: none;
    
    #poruka-tekstaa {
        font-family: sans-serif;
        font-size: 30px;
        font-width: 600;
        color: #36eb1e;
    }
}

#poruka1a {
    background-color: yellow;
    height: 100px;
    width: 400px;
    position: absolute;
    top: 250px;
    left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    /*display: none;*/
    
    
}

#poruka1-teksta {
        font-family: sans-serif;
        font-size: 40px;
        font-width: 600;
        color: #11d6f0;
    }

